<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ong Vàng</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Ong Vàng muốn truy cập vào Camera của bạn , chụp ảnh, quay video và thay đổi hình đại diện.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Ong Vàng requires Face ID cho phép bạn truy cập nhanh chóng và an toàn vào tài khoản của mình.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ong Vàng muốn sử dụng vị trí của bạn để cung cấp dịch vụ tốt nhất .</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ong Vàng muốn sử dụng vị trí của bạn để cung cấp dịch vụ tốt nhất.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ong Vàng sử dụng vị trí hiện tại của bạn sẽ được hiển thị trên bản đồ và hiển thị vị trí của bạn chính xác hơn để giúp bạn đặt dịch vụ đúng vị trí hơn.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ong Vàng yêu cầu truy cập vào micro để bạn có thể sử dụng giọng nói của mình để tìm kiếm.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ong Vàng muốn truy cập Album của bạn để thực hiện chức năng thay đổi avatar.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Ong Vàng muốn gửi thông báo để bạn không bỏ lỡ thông tin quan trọng.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
